\Ejemplo\nbproject\private\private.properties
\Ejemplo\build\built-jar.properties

/Ejemplo/dist/

Ejemplo\build\built-jar.properties
Ejemplo\nbproject\private\private.properties

/placeholders/placeholders/build/
/placeholders/placeholders/nbproject/private/